<div id="login-overlay" class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title" id="myModalLabel">Login</h4>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1">
          <div class="card-header">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <div class="form-group">
                  <label for="username" class="control-label">Username</label>
                  <%= f.email_field :email, autofocus: true, placeholder: 'example@gmail.com', class: 'form-control' %>
                  <span class="help-block"></span>
                </div>
                <div class="form-group">
                  <label for="password" class="control-label">Password</label>
                  <%= f.password_field :password, autocomplete: 'off', class: 'form-control'  %>
                  <span class="help-block"></span>
                </div>
                <div class="checkbox">
                  <label>
                    <%= f.check_box :remember_me %> Remember login
                  </label>
                  <p class="help-block">(if this is a private computer)</p>
                </div>
                <%= f.submit "Login", class: 'btn btn-success btn-block' %>
                <%= link_to "Sign in with Google", user_omniauth_authorize_path(:google_oauth2), class: 'btn btn-info btn-block' %>
                <%= render "devise/shared/links" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>