<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @apartment.name %>
</p>

<p>
  <strong>Landlord:</strong>
  <%= @apartment.landlord %>
</p>

<p>
  <strong>Street address:</strong>
  <%= @apartment.street_address %>
</p>

<p>
  <strong>City:</strong>
  <%= @apartment.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @apartment.state %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @apartment.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @apartment.end_date %>
</p>

<p>
  <strong>Rent price:</strong>
  <%= @apartment.rent_price %>
</p>

<%= link_to 'Edit', edit_apartment_path(@apartment) %> |
<%= link_to 'Back', apartments_path %>
