<!DOCTYPE html>
<html>
  <head>
    <title>LifeManager</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div id="header">
    <%= render 'layouts/header' %>
  </div>

  <div class="container" style="padding-top: 15px;">
    <% flash.each do |name, msg| %>
        <% if name == :alert %>
            <%= content_tag :div, msg, class: "alert alert-info" %>
        <% else %>
            <%= content_tag :div, msg, class: "alert notice-info" %>
        <% end %>
    <% end %>
  </div>


  <body>
    <%= yield %>
  </body>
</html>
